<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuisine</title>
</head>
<body>
<form action="{% url 'save_cuisine' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table class="table">
        {{ form }}
    </table>
    <button type="submit">
        Add Cuisine
    </button>
</form>
{% if data %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Photo</th>
    </tr>
    {% for x in data %}
    <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.name }}</td>
    <td><img src="{{ x.photo.url }}" width="200" height="200"></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>